.chatBox {
    padding-bottom: 70px;
    padding-top: 80px;
    &Wrap {
      height: calc(100vh - 104px);
      position: relative;
    }
    &Btn {
      position: fixed;
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 15px 20px;
      [type='text'] {
        background-color: #e8ebf4;
        border-radius: 30px;
        height: 50px;
        box-sizing: border-box;
        padding-left: 65px;
      }
      fieldset {
        border: none;
      }
      .sendBtn {
        background-color: #e8ebf4;
        border-radius: 50%;
        border: none; 
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 35px;
        svg {
          width: 30px;
          margin-top: 8px;
        }
      }
      &Inner {
        display: flex;
        position: relative;
        .closeBtn {
          background-image: url(../../images/close.png);
          background-size: 100%;
          background-repeat: no-repeat;
          min-width: 25px;
          width: 25px;
          height: 25px;
          position: absolute;
          left: 20px;
          top: 13px;
          z-index: 1;
        }
        .sendBtn {
          position: absolute;
          right: 8px;
          top: 4px;
          z-index: 1;
        }
        > div {
          margin-right: 0;
        }
      }
    }  
    .user-input,
    .css-bfxr4y-MuiListItem-root
    .css-11bd6bo,
    .chatBoxSuggestion  {
      span, li {
        display: inline-block;
        background-color: #ccc0f4;
        color: #000;
        padding: 12px 10px;
        border-radius: 10px 0 10px 10px;
        font-size: 13.5px;
        margin-right: 45px;
        max-width: 65%;
        &.cardBox {
          background: transparent;
          padding: 0;
        }
        &.darkRigh {
            background: #50557d;
            color: #fff;
            max-width: fit-content;
            margin-left: auto;
            position: relative;
            margin-right: 0;
            svg {
              margin-left: 0;
              position: absolute;
              left: -31px;
              top: 4px;
              color: #999;
              width: 25px;
            }
        }
        .card {
            width: 160px;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
            border-radius: 12px;
            background: #fff;
            img {
                border-radius: 12px 12px 0 0;
                height: 85px;
                object-fit: cover;
            }
            .cardText {
                padding: 15px 10px;
            }          
        }    
      }
    }
    .user-input  {
      span {
        &::after {
          content: "";
          width: 35px;
          height: 35px;
          background-image: url(../../images/man.png);
          background-size: 100%;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          right: 10px;
          top: 13px;
        }
      }
    }
    .user-response,
    .chatBoxSuggestion {
      span, li.light {
        background-color: #f2f2f5;
        color: #444;
        padding: 12px 10px;
        border-radius: 0 10px 10px 10px;
        display: inline-block;
        font-size: 13.5px;
        margin-left: 45px;
        max-width: 65%;
      }
    }
    .user-response span, li.light {
        &::after {
          content: "";
          width: 35px;
          height: 35px;
          background-image: url(../../images/woman.png);
          background-size: 100%;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          left: 10px;
          top: 13px;
      }
    }
    .chatBoxSuggestion {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      // position: absolute;
      // bottom: -10px;
      li {
        margin-bottom: 10px;
        max-width: 265px;
      }
    }
  }
  