.chatBox {
    padding-bottom: 70px;
    padding-top: 80px;
    &Wrap {
      height: calc(100vh - 104px);
      position: relative;
    }
    &Btn {
      display: flex;
      position: fixed;
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 15px 25px;
      [type='text'] {
        background-color: #e8ebf4;
        border-radius: 12px;
        height: 40px;
        box-sizing: border-box;
      }
      fieldset {
        border: none;
      }
      .closeBtn {
          border-radius: 50%;
          background: #50557d;
          color: #fff;
          min-width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          svg {
            width: 40px;
          }
      }
      .sendBtn {
        background-color: #e8ebf4;
        border-radius: 50%;
        border: none; 
        color: #aaa;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        svg {
          width: 25px;
        }
      }
    }  
    .user-input,
    .css-bfxr4y-MuiListItem-root
    .css-11bd6bo,
    .chatBoxSuggestion  {
      span, li {
        display: inline-block;
        background-color: #eff0f4;
        color: #000;
        padding: 8px 15px;
        border-radius: 10px;
        &.cardBox {
          background: transparent;
          padding: 0;
        }
        &.darkRigh {
            background: #50557d;
            color: #fff;
            max-width: fit-content;
            margin-left: auto;
            position: relative;
            svg {
              margin-left: 0;
              position: absolute;
              left: -31px;
              top: 4px;
              color: #999;
              width: 25px;
            }
        }
        .card {
            width: 160px;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
            border-radius: 12px;
            background: #fff;
            img {
                border-radius: 12px 12px 0 0;
                height: 85px;
                object-fit: cover;
            }
            .cardText {
                padding: 15px 10px;
            }          
        }    
      }
    }
    .user-response,
    .chatBoxSuggestion {
      span, li.light {
        background-color: #eff0f4;
        color: #444;
        padding: 10px 15px;
        border-radius: 10px;
        display: inline-block;
      }
    }
    .chatBoxSuggestion {
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      // position: absolute;
      // bottom: -10px;
      li {
        margin-bottom: 10px;
        max-width: 265px;
      }
    }
  }
  