@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
    display: flex;
    align-items: center;
    margin: 0 0 25px;
    padding: 11px 24px;
    background: #eee;
    position: fixed;
    left: 10px;
    right: 10px;
    top: 12px;
    z-index: 9;
    border-radius: 70px;
    .lefSec {
      margin-right: auto;
      display: flex;
      align-items: center;
      .userIcon {
        background-image: url(../../images/woman.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }
      .userWrap {
        line-height: 1.2;
        .userText {
          font-weight: 600;
        }
        .userActive {
          font-size: 13px;
          color: #777;
        }
      }
      .back {
        svg {
          width: 25px;
        }
      }
    }
    .rightSec {
        display: flex;
        align-items: center;
        button.call {
          background: #ccc0f4;
          padding: 5px 10px;
          border-radius: 10px;
          svg {
            width: 25px;
            height: auto;
          }
      }
    }
}
#chatPopup {
  max-width: 92%;
  width: 400%;
  border-radius: 15px !important;
  text-align: center;
  padding: 0 !important;
  .imgWrap {
    background-color: #ed9cbd;
    margin-bottom: 20px;
    padding: 20px;
    img {
      margin: 0 auto;
    }    
  }
  button.closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #e6576f;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
          color: inherit;
          width: 38px;
          height: auto;      
      }
  }
  .btnWrap {
      margin: 20px 0;
      a, button {
          background: #e6576f;
          color: #fff;
          display: inline-block;
          padding: 6px 35px;
          font-weight: 500;
          margin: 0 10px;
          border-radius: 8px;
          font-size: 16px;
          border: none;
      }
      button {
        background: #f8ebef;
        color: #e6576f;
      }
  }
}
#avatarPopup {
  top: 90px !important;
  left: 14px !important;
  right: 14px !important;
  bottom: unset !important;
  border: 1px solid #ddd !important;
  border-radius: 20px !important;
  button.closeBtn {
      position: absolute;
      right: 8px;
      top: 8px;
  }
  .avatarImgs {
      display: flex;
      flex-wrap: wrap;
      .imgWrp {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #e75667;
        margin: 0 6px 8px;
        img {
            height: 30px;
            width: auto;
        }
      }  
  }
  h2,.avatarText {
      font-weight: 500;
      font-size: 18px;
  }
  .avatarText {
    margin: 20px 0 18px;
  }
  [type='text'] {
    border: 1px solid #ddd !important;
  }
  .btnWrap {
      text-align: center;
      button {
        background: #e6576f;
        color: #fff;
        display: inline-block;
        padding: 6px 35px;
        font-weight: 500;
        margin: 15px 10px 0;
        border-radius: 8px;
        font-size: 16px;
        border: none;
    }
  }
}