@tailwind base;
@tailwind components;
@tailwind utilities;
.pageDetails {
    background: #f0f3f9;
    padding: 0 50px;
    &TopUser {
        margin: 60px 0 35px;
        display: flex;
        align-items: center;
        &Lf {
            .stdName {
                font-size: 14px;
                font-weight: 500;
            }
            .stdBoxWrap {
                display: flex;
                align-items: center;
                font-size: 13px;
                .userIcnRtl {
                    padding-left: 12px;
                }
            }
        }
        &Rtl {
            margin-left: auto;
            button {
                background: #6482fd;
                color: #fff;
                height: 48px;
                font-size: 14px;
                padding: 0 30px;
                text-align: center;
                border-radius: 25px;
            }
        }
    }
    &ShrirangPatel {
        background: #fdf4f4;
        padding: 40px 60px;
        font-size: 14px;
        margin: 0 -50px;
        position: relative;
        .reqChatBtn {
            background: #6482fd;
            color: #fff;
            height: 48px;
            font-size: 14px;
            padding: 0 30px;
            text-align: center;
            border-radius: 25px;
            position: absolute;
            right: 50px;
            top: 15px;
        }
    }
}