@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

.loginWrap {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.labelTitle {
  color: #333 !important;
  margin-bottom: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}
.boxDasQs {
  border: 1px solid #bbb;
  padding: 20px;
  background: #dcedf9;
  border-radius: 25px;
  margin-bottom: 20px;
  .radioGroup label {
    border: 1px solid #ddd;
    width: 100%;
    background: #fff;
    border-radius: 14px;
    margin: 6px 0;
  }
  &:nth-child(even) {
    background: #fef0ed;
  }
}

// .boxDas3 {
//   border: 1px solid #bbb;
//   padding: 20px;
//   background: #d4f4d5;
//   border-radius: 25px;
//   .radioGroup label {
//     border: 1px solid #ddd;
//     width: 100%;
//     background: #fff;
//     border-radius: 14px;
//     margin: 6px 0;
//   }
// }

// .boxDas4 {
//   border: 1px solid #bbb;
//   padding: 20px;
//   background: #f3efcc;
//   border-radius: 25px;
//   .radioGroup label {
//     border: 1px solid #ddd;
//     width: 100%;
//     background: #fff;
//     border-radius: 14px;
//     margin: 6px 0;
//   }
// }

.mobileStepperWrap {
  position: absolute;
  top: 13px;
  right: 0;
  width: 100%;
  max-width: 400px;
}

.dashboardWrap {
  margin-top: 105px;
  padding-bottom: 75px;
  h1 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.boxDas {
  &Top {
    border-bottom: 1px dashed #555;
    margin: 0 -14px;
    padding: 0 5px 25px;
    margin-bottom: 20px;
  }
  &YourSelf {
    margin-bottom: 30px;
  }
}

.progressBar {
  background: #999;
  height: 7px;
  width: 25%;
  &:nth-child(1) {
      border-radius: 20px 0 0 20px;
  }
  &:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  &:nth-child(3) {
    border-right: 1px solid #fff;
  }
  &:nth-child(4) {
      border-radius: 0 20px 20px 0;
  }
  &.active {
    background: #000;
  }
  &Wrap {
    position: absolute;
    top: 26px;
    right: 20px;
    z-index: 9999;
    width: 140px;
    display: flex;
  }
}