@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

.loginWrap {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}
.labelTitle {
  color: #000 !important;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 0;
  line-height: 1.2;
  padding-right: 55px !important;
}
.boxDasQs {
  border: 1px solid #bbb;
  padding: 20px;
  // background: #dcedf9;
  border-radius: 25px;
  margin-bottom: 20px;
  > div {
    width: 100%;
  }
  .radioGroup label {
    border: 1px solid #ddd;
    width: 100%;
    background: #fff;
    border-radius: 14px;
    margin: 6px 0;
  }
  &:nth-child(5n + 1) {
    background: #E9F9DC;
  }  
  &:nth-child(5n + 2) {
    background: #FDD6CE;
  }
  &:nth-child(5n + 3) {
    background: #FCEDCA;
  }
  &:nth-child(5n + 4) {
    background: #DCEDF9;
  }
  &:nth-child(5n) {
    background: #262D39;
    .labelTitle {
      color: #fff !important;
    }
  }
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #000;
  }
  .countBox {
      position: absolute;
      right: -5px;
      top: -5px;
      border: 1px solid #333;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      font-weight: 500;
  }
}

.mobileStepperWrap {
  position: absolute;
  top: 13px;
  right: 0;
  width: 100%;
  max-width: 400px;
}

.dashboardWrap {
  margin-top: 105px;
  padding-bottom: 75px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  main.miniGuideWrap {
    padding: 0 0 20px;
    margin-top: 0;
  }
  .boxDasActivity {
      border-bottom: 1px dashed #555;
      margin-bottom: 25px;
      padding-bottom: 15px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: inherit;
    text-align: center;
    font-weight: 600;
  }
  .submitBtn {
    text-align: center;
    margin-top: 40px;
    button {
      border: 2px solid #73d896;
      color: #73d896;
      padding: 8px 22px;
      border-radius: 30px;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.boxDas {
  &Top {
    border-bottom: 1px dashed #555;
    margin: 0 -10px;
    padding: 0 5px 25px;
    margin-bottom: 20px;
  }
  &YourSelf {
    margin-bottom: 30px;
  }
}

.progressBar {
  background: #999;
  height: 7px;
  width: 25%;
  &:nth-child(1) {
      border-radius: 20px 0 0 20px;
  }
  &:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  &:nth-child(3) {
    border-right: 1px solid #fff;
  }
  &:nth-child(4) {
      border-radius: 0 20px 20px 0;
  }
  &.active {
    background: #000;
  }
  &Wrap {
    position: absolute;
    top: 26px;
    right: 20px;
    z-index: 9999;
    width: 140px;
    display: flex;
  }
}

main.miniGuideWrap {
  margin-top: 90px;
  padding: 0 8px 65px;
  .miniGuideTop {
      display: flex;
      margin-bottom: 22px;
      h1 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0;
      }
      .rlTitle p {
        font-size: 15px;
        color: #777;
      }
      .lfIcon {
        background: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        margin-right: 15px;
        img {
          width: 30px;
        }
      }
    }
    ul.miniGuideCard {
      li {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 12px;
        margin-bottom: 15px;
        .image {
            width: 90px;
            border: 1px solid #ddd;
            border-radius: 20px;
            margin-right: 12px;
            img {
              border-radius: 12px;
              display: block;
            }
            iframe {
              width: 100%;
              height: 90px;
              border-radius: 12px;
            }
        }
        .rlContent {
            display: flex;
            align-items: center;
            flex: 1;
        }
        .rlContentLf {
          margin-right: 20px;
          h3 {
              font-weight: 500;
              font-size: 17px;
          }        
          p {
              font-size: 12px;
              color: #777;
          }
          
          .timeAudo {
            display: flex;
            font-size: 12px;
            color: #777;
            margin-top: 5px;
              span {
                display: flex;
                align-items: center;
                svg {
                  width: 14px;
                  height: auto;
                  margin-right: 3px;
                }
                &.time {
                  margin-right: 20px;
                }
            }
          }
        }        
        .rlContentRl {
          width: 45px;
          margin-left: auto;
          svg {
            width: 45px;
            height: auto;
            color: #222;
          }
        }
      }
    }
}

div#qsnModal {
  max-width: 92%;
  border-radius: 15px !important;
  text-align: center;
  .imagWrap {
    margin-bottom: 20px;
    img {
      margin: 0 auto;
    }    
  }
  button.closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      svg {
          color: #333;
          width: 38px;
          height: auto;      
      }
  }
  button.goHome {
      background: #295ddf;
      color: #fff;
      padding: 8px 30px;
      border-radius: 20px;
      border: none;
      margin-top: 15px;
      font-weight: 500;
  }
  h2 {
      margin-bottom: 10px;
      font-weight: 500;
  }
}
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    pointer-events: none; /* Disable pointer events to hide play button */
  }
}

.ReactModal__Overlay {
  z-index: 9;
}

.popupVid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(232 232 232 / 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  .popup-inner {
    position: relative;
    padding: 6px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 95%;
  }
  .close-btn {
    position: absolute;
    top: -38px;
    right: -6px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .videoContainer {
    max-width: 560px;
    width: 100%;
    iframe {
      width: 100%;
      border-radius: 10px;
    }
  }
}

main.pageWrapMain {
  display: flex;
  min-height: 100vh;
}
img.imgAbout {
  margin: 25px auto;
}
.aboutUs {
  h1, h5, h6 {
    font-weight: 600;
  }
  h1 {
    margin-bottom: 30px;
    @media (max-width: 767px) {     
      font-size: 25px;
    }
  }
  p {
    margin-bottom: 30px;
  }
  ul li {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media (max-width: 767px) {    
    h5 {
      font-size: 22px;
    }
    h6 {
      font-size: 18px;
    }  
    p {
      margin-bottom: 20px;
    }
  }
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -8px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.css-q8hpuo-MuiFormControl-root {
  margin-top: 10px;
}