@tailwind base;
@tailwind components;
@tailwind utilities;
.headerBox {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #555;
    margin: 0 0 25px;
    padding: 15px 15px 15px;
    background: #fbfbfb;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    .lefSec {
      margin-right: auto;
      display: flex;
      h2 {
        font-weight: 600;
      }
      .back {
        svg {
          width: 25px;
        }
      }
    }
    .rightSec {
        display: flex;
        align-items: center;
        a.sos {
            margin-right: 10px;
        }
    }
}
#chatPopup {
  max-width: 92%;
  width: 400%;
  border-radius: 15px !important;
  text-align: center;
  padding: 0 !important;
  .imgWrap {
    background-color: #ed9cbd;
    margin-bottom: 20px;
    padding: 20px;
    img {
      margin: 0 auto;
    }    
  }
  button.closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #e6576f;
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
          color: inherit;
          width: 38px;
          height: auto;      
      }
  }
  .btnWrap {
      margin: 20px 0;
      a, button {
          background: #e6576f;
          color: #fff;
          display: inline-block;
          padding: 6px 35px;
          font-weight: 500;
          margin: 0 10px;
          border-radius: 8px;
          font-size: 16px;
          border: none;
      }
      button {
        background: #f8ebef;
        color: #e6576f;
      }
  }
}