@tailwind base;
@tailwind components;
@tailwind utilities;
.footer {
  background: #eee;
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 0;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 10px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;  
        svg, img {
          width: 25px;
        }  
      }
    }
  }
}