.loginBox {
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 20px;
}

.loginBtnWrap {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  .forgetPass {
    margin-bottom: 12px;
  }
  a {
    color: #1976d2;
  }
}