@tailwind base;
@tailwind components;
@tailwind utilities;
.chartPage {
    background: #f0f3f9;
    padding: 0 50px 70px;
    width: 100%;
    @media (max-width: 1800px) {   
        padding: 0 25px 70px; 
    }
    .chartPageWrap {
        margin-top: 50px;
        display: flex;
        .chartPageRight {
            margin-left: auto;
            padding-bottom: 40px;
            margin-top: 110px;
            .MuiDateCalendar-root {
                background: #fff;
                height: 290px;
                max-height: unset;
            }
        }
        .chartPageLeft {
            flex: 1;
            padding-right: 5%;
            @media (max-width: 1800px) {   
                padding-right: 2%; 
            }
        }
    }
    &TopSec {
        display: flex;
        .tpBox {
            padding: 6px 13px;
            display: flex;
            align-items: center;
            font-size: 12px;
            background: #fff;
            width: 22%;
            margin-right: 35px;
            img {
                margin-right: 10px;
            }
        }
        
    }
    &BotSec {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        .graph {
            margin-bottom: 40px;
            width: 46%;
            background: #fff;
            padding: 8px;
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
            h3 {
                color: #4E6D93;
                font-weight: 600;
                padding: 8px 15px 0;
                margin-bottom: -35px;
            }
            &Right {
                position: absolute;
                right: 0;
                top: 44%;
                font-size: 14px;
                left: 205px;
                .blue {
                    color: #8C52FF;
                }
                .org {
                    color: #FF914D;
                }
                .grn {
                    color: #00BF63;
                }
                &2 {
                    position: absolute;
                    right: 12px;
                    top: 11px;
                    font-size: 14px;
                    color: #4E6D93;
                }
            }
            @media (max-width: 1800px) {   
                width: 48%;
            }
        }
    }
    .react-calendar {
        border: none;
        height: 330px;
    }
}